NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=your_nextauth_secret
MONGODB_URI=mongodb://localhost:27017/analytics
FACEBOOK_CLIENT_ID=your_facebook_client_id
FACEBOOK_CLIENT_SECRET=your_facebook_client_secret
FACEBOOK_REDIRECT_URL=http://localhost:3000/api/facebook/callback
FACEBOOK_SUCCESS_REDIRECT_URL=http://localhost:3000/en/admin
RESEND_API_KEY=your_resend_api_key
MAIL_FROM=uday.vispansolutions@gmail.com
NODE_ENV=development
MAIL_REPLY_TO=uday.vispansolutions@gmail.com
GOOGLE_ADS_DEVELOPER_TOKEN=your_google_ads_developer_token
GOOGLE_ADS_CLIENT_ID=your_google_ads_client_id
GOOGLE_ADS_CLIENT_SECRET=your_google_ads_client_secret
GOOGLE_ADS_ACCESS_TOKEN=your_google_ads_access_token
GOOGLE_ADS_CUSTOMER_ID=your_google_ads_customer_id
GOOGLE_MANAGER_ID=your_google_manager_id
NEW_CUSTOMER_ID=your_new_customer_id
NEW_MANAGER_CUSTOMER_ID=your_new_manager_customer_id
NEW_DEVELOPER_TOKEN=your_new_developer_token
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret
GOOGLE_REDIRECT_URI=https://developers.google.com/oauthplayground
REFRESH_TOKEN=your_refresh_token
SEARCH_CONSOLE_SITE_URL=sc-domain:vispan.ai
GOOGLE_REDIRECT_URL=http://localhost:3000/api/google/callback
# Razorpay Credentials
RAZORPAY_KEY_ID=your_razorpay_key_id
RAZORPAY_KEY_SECRET=your_razorpay_key_secret
# NEXT_PUBLIC_RAZORPAY_KEY_ID=rzp_test_xxxxxxx
